<% include common/header.ejs %>

<div class="row order-page-panel">
    <div class="left-panel">
        <div class="contact-form-1">
            <div class="form-description-1">1. Контактні дані</div>
            <div class="row">
                <div class="col-md-7">
                    <form class="form-horizontal" id="from-reg">
                        <div class="form-group name-group has-feedback">
                            <label class="col-sm-2 control-label">Ім’я</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="username" id="inputName" placeholder="Ім’я Прізвище"  required>
                            </div>
                            <span class="name-help-block none" >
                                Введіть тільки власне ім’я, без цифр
                            </span>
                        </div>
                        <div class="form-group phone-group">
                            <label class="col-sm-2 control-label">Телефон</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="usernumber" id="inputPhone" placeholder="+380994010999">
                            </div>
                            <span class="phone-help-block none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                        </div>
                        <div class="form-group address-group">
                            <label class="col-sm-2 control-label">Адреса</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="useraddress" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                            </div>
                            <span class="address-help-block none">
                                Введіть адресу доставки піци
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 order-summary">
                    <div class=" bs-callout bs-callout-warning">
                        <h4>Інформація про замовлення</h4>
                        <p class="order-summery-time">
                            <b>Приблизний час доставки:</b> <span id="durationTo">невідомий</span>
                        </p>
                        <p class="order-summery-adress">
                            <b>Адреса доставки:</b> <span id="addressTo">невідома</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group next-step-wrap">
                    <div class="next-step-width">

                            <button type="submit" class="btn btn-warning btn-block next-step-button" id="next-btn" >
                            Далі
                            <i class="glyphicon glyphicon-chevron-right icon-white">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="google-maps" id="googleMap" style="width: 80%;height: 350px;margin-left: 10%;">

        </div>

        <div  id="liqpay"></div>

        <script src="//static.liqpay.com/libjs/checkout.js"></script>




        <div class="right-panel">
            <div class="r1">
                <span class="orders-title">
                    Замовлення
                    <span class="orders-count badge">0</span>
                </span>

            </div>
            <div class="all-orders r2">
                <div class="no-orders none">Пусто в холодильнику?<br>Замовте піцу!
                </div>
                <div id="order">

                </div>
            </div>


            <div class="order-state r3">
                <span class="sum-title" style="display: none;">
                    Сума замовлення
                </span>
                <div class="order-header"><span class="sum-title">Сума замовлення</span><span class="total"><span class="sum-total"></span>грн</span>
                </div>
                <div class="make-order">

                    <a type="button" href="http://localhost:5050/" class="btn btn-default btn-lg btn-block button-edit-order" >
                        Редагувати замовлення
                    </a>

                </div>

            </div>
        </div>


    </div>
</div>

<% include common/footer.ejs %>